<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fint=no">
	<title>Ragna4 US</title>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<link rel="icon" href="imagem/icone.jpg">

	<link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<body>
<header> <!--INCIO CABEÇALHO-->
	<div id="carrossel-legenda" class="carousel" data-ride="carousel">



		<div class="carousel-inner">
			<div class="carousel-item active">
				<img  src="imagem/capa.jpg" width="100%" height="350px">
				 <div class="carousel-caption letra"><
                  <div style=" padding: 10px;">
                    <h1 class="animacao">Ragna4 US</h1>
                    
                  </div>
                </div>
				
			</div>
			
		</div>
		
	</div>
	<nav class="navbar navbar-expand-md navbar-dark  menu1 ">

        
        <div class="container">
          

          <!-- botao hamburguer/menu-->
          <button class="navbar-toggler" data-toggle="collapse" data-target="#menuTop">
             <i class="fas fa-bars text-white"></i>
          </button>
          

          <!--meunu-->
        <div class="collapse navbar-collapse"  id="menuTop">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link hover1" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hover1" href="">Clãs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hover1" href="">Ranking PvP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hover1" href="">Top Guild</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hover1 active" href="download.html">Baixar</a>
            </li>
            <li class="nav-item divisor"></li>
            
            <li class="nav-item hover1">
              <a class="nav-link" href="">Entrar</a>
            </li>
          </ul>
      
        </div>
       
      </nav>
	
	
	
</header><!--FIM CABEÇALHO-->


<section id="home" class="d-flex"> <!-- INCIO HOME-->

	<div class="container mb-3 cor ">
		<div class="row">
			<div class="col-md-8 text-center m-auto">
				
				<h2 class="letra">Baixe seu Ragna4 US Aqui</h2>
				<div>
					<img src="imagem/guerra.jpg" class="organize-downolad mb-3"><br>
					<a href="https://drive.google.com/file/d/1FkJtNFSFrvd5uFrvq58phKvC5OK7Wrms/view" class="btn btn-outline-success" target="_blank">
						DOWNLOAD
						<i class="fas fa-cloud-download-alt"></i>


					</a>
				</div>
				
				
			</div>
			

			
		</div>
	</div>

</section><!-- FIM HOME-->

<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<nav class="navbar navbar-expand-md">
						<ul class="navbar-nav mx-auto">
							<li class="nav-item mr-3">
								<a class="nav-link" href="https://drive.google.com/file/d/1FkJtNFSFrvd5uFrvq58phKvC5OK7Wrms/view" target="_blank"> Download</a>
							</li>
							<li class="nav-item mr-3">
								<a class="nav-link"  href=""></a>
							</li>
							<li class="nav-item mr-3">
								<a class="nav-link" href=""></a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-md-4 text-center ordem">
					<h5 >Todos direitos reservados</h5>
					<h6 class="ml-4">Desenvolvido por <a href="https://www.facebook.com/anderson.roger.7" target="_blank">ARS</a></h6>
				</div>
				<div class="col-md-4">
					<nav class="navbar navbar-expand-md">
						<ul class="navbar-nav mx-auto">
							<li class="nav-item mr-3">
								<a href="https://discord.gg/QUPRBPMbMx" target="_blank">
										<i class="fab fa-discord fa-2x"></i>
								</a>
							</li>
							<li class="nav-item mr-3">
								<a href="https://www.facebook.com/Ragna4US" target="_blank">
									<i class="fab fa-facebook-square fa-2x"></i>
								</a>
							</li>
							<li>
								<a href="">
								
								</a>
							</li>
						
					</ul>
						
					</nav>
				</div>
				
			</div>
			
		</div>

	
</footer>


<!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>